
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Exam Arrow  | Home page :: Snipe IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Skill Point Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Snipe/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <!-- animation -->
    <link href="~/Snipe/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Snipe/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Snipe/css/screenshot_view.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="~/Snipe/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700i" rel="stylesheet">

    <!--//online fonts -->
</head>

<body>
    <div class="se-pre-con"></div>
    <!-- header -->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <ul class="d-flex header-agile">

                            <li>
                                <h4>
                                    <a href="~/" class="text-white"><span style="margin-right:0px">S</span>nipe <span style="margin-right:0px">L</span>earning</a>
                                </h4>
                            </li>
                            <li style="padding:0 12px;line-height:31px">

                                <style>

                                    .dropdown {
                                        position: relative;
                                        display: inline-block;
                                    }

                                    .dropdown-content {
                                        display: none;
                                        position: absolute;
                                        background-color: #f1f1f1;
                                        min-width: 90px;
                                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                        z-index: 1;
                                    }

                                        .dropdown-content a {
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                        }

                                            .dropdown-content a:hover {
                                                background-color: #ddd;
                                            }

                                    .dropdown:hover .dropdown-content {
                                        display: block;
                                    }

                                    .dropdown:hover .dropbtn {
                                        background-color: #3e8e41;
                                    }
                                </style>
                                <div class="dropdown">
                                    <span class="fa fa-th-list"><a href="#" class="text-white">&nbsp; Catogories</a></span>
                                    <div class="dropdown-content">
                                        <a href="#">KCET</a>
                                        <a href="#">NEET</a>
                                        <a href="#">JEE</a>
                                    </div>
                                </div>
                            </li>

                            @*<li style="padding:0 12px;line-height:31px">

                                    <a href="~/" class="text-white">Compete</a>
                                </li>*@
                            <li style="margin-bottom:7px">
                                <span class="input-group" style="background-color:#f2f3f5;border-radius:2px;position:relative;border-collapse:separate;width: 150%;">
                                    <input data-purpose="search-input" name="q" maxlength="200" placeholder="Search for Courses"
                                           autocomplete="off" value="" id="header-search-field" class="form-control" style="background-color: transparent;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 13px;display: table-cell;width: 40%;">
                                    <span class="input-group-btn" style="position: relative;font-size: 0;
    white-space: nowrap;width: 15%;
    white-space: nowrap;
    vertical-align: middle;">
                                        <button aria-label="Search" type="submit" class="btn btn-link" style="border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #ec5252;width: 44px;
    height: 44px;padding: 11px 12px;
    font-size: 15px;border-color: transparent;background-color:#f2f3f5;">
                                            <span class="fa fa-search" style="
    speak: none;
    font-style: normal;

    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;color: #ec5252;font-size: 15px;"></span>
                                        </button>
                                    </span>
                                </span>
                                @*<div class="searchf-w3-agileits-headr">

                                        <form action="~/Home/Search" method="get" accept-charset="ISO-8859-1">
                                            <input type="search" name="Search" placeholder="Search for a course..." required="" maxlength="500" onkeyup="javascript:RemoveSpecialChar(this)">
                                            <button type="submit" class="btn btn-default search" aria-label="Left Align" id="btnb">
                                                <i class="fa fa-search" aria-hidden="true" id="icn"> </i>
                                            </button>
                                        </form>

                                    </div>*@
                            </li>

                        </ul>
                    </div>

                    <div class="col-md-5 hearder-right-agile">

                        <div class="d-flex">
                            <div style="padding-top:15px">
                                <div class="dropdown">
                                    <span class="fas fa-arrows-alt flash animated infinite" style="color:#ff1949"></span><a href="#" class="text-white">&nbsp; Instructor</a></span>
                                    <div class="dropdown-content" style="width:30%;right:-80px;min-width: 350px;text-align:center">
                                        <div style="padding:15px 15px 15px 15px">
                                            Turn what you know into an opportunity and reach millions around the world.
                                            <br />
                                            <a href="~/Home/TestForInstructor" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Multiple select filter -->
                            @*<select class="custom-select hidden">
                                    <option value="HTML">Programming</option>
                                    <option value="jQuery">Art & Design</option>
                                    <option value="Pug">Languages</option>
                                    <option value="SASS">UX Training</option>
                                    <option value="Angular">Business</option>
                                    <option value="React">Vocabulary</option>
                                    <option value="Jade">Photography</option>
                                    <option value="PHP">Inclusive-education</option>
                                    <option value="Java">New Technologies</option>
                                </select>*@
                            <!-- Multiple select filter  -->
                            <div class="login-wthree my-auto" style="padding-top:15px">
                                <a href="login.html" class="text-white text-capitalize">login <span class="fas fa-sign-in-alt flash animated infinite"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="screenview_bg row bg-theme px-3" style="position:relative">

        <div class=" col-lg-7 col-md-6 screen-view-img order-md-0 order-0 img-fluid" style="position:relative;padding-left:50px">
            <h2 style="font-size:34px;color:#fff;font-weight:bold;line-height:1;margin-bottom:16px">Learn, Compete &amp; Grow.</h2>
            <p style="color:#fff;margin-bottom:16px">
                Exam arrow gives both professional and aspiring developers a platform to practice coding, take part
                in exciting coding challenges, undergo skill evaluation tests, listen to webinars, view jobs, read technology news and do a lot more.
            </p>
            <ul class="info-list" style="list-style-type:none">
                <li style="line-height:28px;padding-left:26px;color:#fff;background-image:url(../../Snipe/check.svg);background-repeat:no-repeat;background-position:left 6px">Practice Coding</li>
                <li style="line-height:28px;padding-left:26px;color:#fff;background-image:url(../../Snipe/check.svg);background-repeat:no-repeat;background-position:left 6px">Participate in Challenges</li>
                <li style="line-height:28px;padding-left:26px;color:#fff;background-image:url(../../Snipe/check.svg);background-repeat:no-repeat;background-position:left 6px">Showcase Skills </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-6 clearfix signup-top-block" style="width:50%;float:left">

            <div class="register-area clearfix" style="padding:16px;width:368px;background:rgba(255,255,255,0.7);border-radius:3px;margin-bottom:24px">
                <h5 style="margin-bottom:12px;font-family:'lato', Arial, Helvetica, sans-serif;margin-top:0px">Signup with:</h5>
                <div class="sociable clearfix" style="margin-bottom:24px;font-family:'lato', Arial, Helvetica, sans-serif;">
                    <p style="margin-bottom:0px;margin:0 0 10px">
                        <a style="background:#3b5998;width:80px;height:32px;display:inline-block;margin-right:1px;text-align:center;border-radius:3px;line-height:34px" href="javascript:void(0);" class="facebook" onclick="fb_login('https://www.techgig.com/home?login=true');">
                            <svg width="7px" height="16px" viewBox="0 0 7 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Fb" fill="#FFFFFF" fill-rule="nonzero">
                                        <path d="M1.55086906,16 L4.65504056,16 L4.65504056,7.99913616 L6.72584009,7.99913616 L7,5.24263039 L4.65504056,5.24263039 L4.65828505,3.8622179 C4.65828505,3.14350502 4.72236385,2.75823345 5.69084589,2.75823345 L6.98539977,2.75823345 L6.98539977,0 L4.91378911,0 C2.42607184,0 1.55086906,1.33808444 1.55086906,3.58665371 L1.55086906,5.24176655 L0,5.24176655 L0,7.99913616 L1.55086906,7.99913616 L1.55086906,16 L1.55086906,16 Z"></path>
                                    </g>
                                </g>
                            </svg>
                        </a> <a style="background:#dc4e41;width:80px;height:32px;display:inline-block;margin-right:1px;text-align:center;border-radius:3px;line-height:34px" href="https://www.techgig.com/social_connect?provider=Google&amp;user_type=external&amp;return_url=https://www.techgig.com/home" class="google">
                            <svg width="20px" height="13px" viewBox="0 0 20 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Google" fill="#FFFFFF" fill-rule="nonzero">
                                        <path d="M6.34313725,5.21505792 L6.34313725,7.78996139 C6.34313725,7.78996139 8.77941176,7.78494208 9.7745098,7.78494208 C9.23529412,9.45135135 8.40196078,10.3598456 6.34313725,10.3598456 C4.25980392,10.3598456 2.6372549,8.63320463 2.6372549,6.5 C2.6372549,4.36679537 4.26470588,2.64015444 6.34313725,2.64015444 C7.44607843,2.64015444 8.15686275,3.03667954 8.80882353,3.58880309 C9.33333333,3.05173745 9.28921569,2.97644788 10.6176471,1.69150579 C9.49019608,0.642471042 7.99019608,0 6.34803922,0 C2.84313725,0 0,2.91119691 0,6.5 C0,10.0888031 2.84313725,13 6.34803922,13 C11.5882353,13 12.8676471,8.32702703 12.4411765,5.21505792 L6.34313725,5.21505792 Z M17.7843137,5.34054054 L17.7843137,3.08687259 L16.2156863,3.08687259 L16.2156863,5.34054054 L13.9558824,5.34054054 L13.9558824,6.94671815 L16.2156863,6.94671815 L16.2156863,9.26061776 L17.7843137,9.26061776 L17.7843137,6.94671815 L19.9852941,6.94671815 L19.9852941,5.34054054 L17.7843137,5.34054054 Z"></path>
                                    </g>
                                </g>
                            </svg>
                        </a> <a style="background:#3b5998;width:80px;height:32px;display:inline-block;margin-right:1px;text-align:center;border-radius:3px;line-height:34px" href="https://www.techgig.com/social_connect?provider=LinkedIn&amp;user_type=external&amp;return_url=https://www.techgig.com/home" class="linkedin">
                            <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Linkedin" fill="#FFFFFF" fill-rule="nonzero">
                                        <path d="M0.242307692,4.64864865 L3.13923077,4.64864865 L3.13923077,14 L0.242307692,14 L0.242307692,4.64864865 Z M1.69615385,0 C2.62230769,0 3.37615385,0.756756757 3.37615385,1.68648649 C3.37615385,2.61621622 2.62230769,3.37297297 1.69615385,3.37297297 C0.764615385,3.37297297 0.0161538462,2.61621622 0.0161538462,1.68648649 C0.0161538462,0.756756757 0.764615385,0 1.69615385,0 Z M4.95923077,4.64864865 L7.73230769,4.64864865 L7.73230769,5.92972973 L7.77,5.92972973 C8.15769231,5.19459459 9.1,4.42162162 10.5107692,4.42162162 C13.44,4.42162162 13.9838462,6.35675676 13.9838462,8.87567568 L13.9838462,14 L11.0923077,14 L11.0923077,9.45405405 C11.0923077,8.36756757 11.0761538,6.97297297 9.59,6.97297297 C8.08230769,6.97297297 7.85615385,8.15675676 7.85615385,9.37297297 L7.85615385,14 L4.96461538,14 L4.95923077,4.64864865 Z"></path>
                                    </g>
                                </g>
                            </svg>
                        </a> <a style="background:#161514;width:80px;height:32px;display:inline-block;margin-right:0px;text-align:center;border-radius:3px;line-height:34px" href="https://www.techgig.com/social_connect?provider=GitHub&amp;user_type=external&amp;return_url=https://www.techgig.com/home" class="github">
                            <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <title>Fill 4</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="01_Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-912.000000, -176.000000)">
                                    <path d="M920.135661,176 C915.643048,176 912,179.672316 912,184.202538 C912,187.826634 914.331114,190.901295 917.563661,191.985902 C917.970256,192.061832 918.119529,191.807964 918.119529,191.591314 C918.119529,191.395718 918.111984,190.749572 918.108482,190.064171 C915.845133,190.56036 915.367539,189.096378 915.367539,189.096378 C914.997455,188.148281 914.464221,187.896179 914.464221,187.896179 C913.726073,187.387086 914.519861,187.397545 914.519861,187.397545 C915.336823,187.455409 915.766994,188.242819 915.766994,188.242819 C916.492612,189.496807 917.670227,189.134275 918.134483,188.924688 C918.207503,188.394541 918.418345,188.032689 918.651012,187.827856 C916.84397,187.620443 914.944374,186.917112 914.944374,183.774128 C914.944374,182.878597 915.262186,182.146878 915.782621,181.57245 C915.69815,181.365852 915.419677,180.53158 915.861434,179.401741 C915.861434,179.401741 916.544615,179.181288 918.09932,180.242533 C918.748282,180.060791 919.444261,179.969649 920.135661,179.966525 C920.82706,179.969649 921.523578,180.060791 922.173752,180.242533 C923.726571,179.181288 924.408809,179.401741 924.408809,179.401741 C924.851644,180.53158 924.573036,181.365852 924.488565,181.57245 C925.010213,182.146878 925.325869,182.878597 925.325869,183.774128 C925.325869,186.924583 923.422636,187.61827 921.611014,187.821336 C921.902824,188.075883 922.16284,188.57506 922.16284,189.34033 C922.16284,190.437841 922.153409,191.321147 922.153409,191.591314 C922.153409,191.809594 922.299853,192.065363 922.712241,191.984816 C925.943036,190.898986 928.271186,187.825411 928.271186,184.202538 C928.271186,179.672316 924.628677,176 920.135661,176" id="Fill-4" fill="#FFFFFF"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                </div>
                <h5 style="margin-bottom:12px;font-family:'lato', Arial, Helvetica, sans-serif;margin-top:0px">Signup with Email:</h5>
                <div id="newsletter-form" class="form1" style="height:32px;padding:0px;border-radius:0px;background-color:rgba(255, 255, 255, 0.15)">
                    <form style="padding:0px;border-radius:0px;" id="frm-email-signup" action="https://www.techgig.com/register?tab=signup" method="post" class="clearfix" name="hiring_email">
                        <input style="width:240px;background:#fff;padding:0px 8px;border-radius:3px 0px 0px 3px;float:left;border:0;height:32px" type="text" placeholder="Enter Email" class="form-control" id="register_email" name="email" maxlength="200" required="" pattern="@*[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$*@">
                        <input style="width:96px;background:#d7263d;color:#fff;padding:7px 10px;border-radius:0px 3px 3px 0px;float:right;border:0;height:32px;line-height:16px" type="button" class="btn button1" value="Continue" onclick="return Tg_CommonFunction.validateEmailSignup();">
                    </form>
                </div>
            </div>
        </div>
        @*<div class="col-lg-5 col-md-6 home-features-list my-auto pl-lg-0 order-md-1 order-1">
                <h3>skill point - the education template</h3>
                <ul class="list-group mt-lg-3 pb-lg-0 pb-3 ">
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i>Fully Responsive
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i> Built with valid HTML5 and CSS3 code
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i>Bootstrap4 Framework
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i>Fully Responsive
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i> Built with valid HTML5 and CSS3 code
                    </li>
                    <li class="list-group-item border-0">
                        <i class="fas fa-check mr-3"></i>Bootstrap4 Framework
                    </li>
                </ul>
            </div>*@
    </div>
    <!-- //banner -->
    <!-- pages grid-->
    <script>
$(window).load(function(){
});
    </script>
    <section id="practice-level-up" class="landing-sections" style="background:#f8f8f8;padding-bottom:40px;padding:40px 0px 32px 0px;font-family:'lato', Arial, Helvetica, sans-serif;line-height:1.4;font-size:1em">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <h2 style="margin-top:24px; font-size:28px; font-weight:bold;color:#19171a;margin-bottom:16px">Practice and Level Up</h2>
                    <p class="lead" style="font-size: 16px;line-height: 25px;color: #666666;font-weight: normal;margin-bottom: 24px;">Improve your coding skills with TechGig, by browsing through our collection of tutorials, solving easy to complex coding problems and attempting past challenges which were organised by top IT companies.</p>
                    <!-- Stats -->
                    <ul class="stats clearfix" style="margin:0 0 30px; padding:0;list-style: none;">
                        <li style="padding-left: 0;font-size: 18px;
    color: #19171a;
    float: left;
    border-right: 1px solid #dadada;
    padding: 0px 24px 0px 24px;
    font-weight: 600;">
                            <span>50,000+<small>Practice Problems</small></span>
                        </li>
                        <li style="border-right: 0;font-size: 18px;
    color: #19171a;
    float: left;
    border-right: 1px solid #dadada;
    padding: 0px 24px 0px 24px;
    font-weight: 600;">
                            <span>50+<small>Past Challenges</small></span>
                        </li>
                    </ul>
                    <!-- /Stats -->
                    <a href="https://www.techgig.com/practice" class="btn button1" style="min-width: 160px;border-radius: 3px;background: #d7263d;
    color: #fff;
    text-transform: capitalize;
    border: 0;
    font-size: 14px;
    line-height: 18px;
    padding: 7px 10px;
    font-weight: bold;">Begin Practice</a>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="inner-wrap">
                        <p class="text-center hidden-xs">Newly added for practice</p>
                        <!-- Fade Slider -->
                        <div id="practice-levelup-slider" class="moving-slides hidden-xs fade-slider moving-left">
                            <div class="scroller">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/YUJibDJwb0hJZTNEM1hGNkN0THZsUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Algorithms.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Sort According To The Order</h5>
                                                            <p>Participants <span>3</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/UlQvR2lRUVBTMWVqK01ZOXREb2t3Zz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Python.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Power Of A Number</h5>
                                                            <p>Participants <span>146</span></p> 														<p>Success Rate <span>87%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/TExudncvdXZKVGJKSFkrdlE3Z2NhZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Mathematics.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Miscellaneous Basic Level</h5>
                                                            <p>Participants <span>84</span></p> 														<p>Success Rate <span>62%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/WkJpTGNTSWQvRVdBSmpjTlBHMVhkQT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Python.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Validate Email Address</h5>
                                                            <p>Participants <span>54</span></p> 														<p>Success Rate <span>73%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/aEFpUkF0VXNVN3d2YjlZVm5EekQzZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Cpp.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Vectors And Queries</h5>
                                                            <p>Participants <span>19</span></p> 														<p>Success Rate <span>88%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/cW1rdS9EMFdOSW84WGNqR1IxWWZUdz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Data-Structures.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Doubly Linked List Intermediate Level</h5>
                                                            <p>Participants <span>20</span></p> 														<p>Success Rate <span>71%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/ZGdzOHVJSGtwaFdWcVNnYkVBSWVxQT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Cpp.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Deque-STL</h5>
                                                            <p>Participants <span>25</span></p> 														<p>Success Rate <span>93%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/R0UxM3ZFZ2ZPbVQ3Z0RBVHo5dWhoUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Python.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Python Lists</h5>
                                                            <p>Participants <span>279</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/RlVOZGFOTXJtWkhnUUxIRUNTUHdMZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Ruby.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>String LowerCase</h5>
                                                            <p>Participants <span>4</span></p> 														<p>Success Rate <span>100%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/a29ncmpsZm1pODhJOU5BOXkzeERJQT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Algorithms.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Days Between Dates</h5>
                                                            <p>Participants <span>17</span></p> 														<p>Success Rate <span>100%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/NklYRWljQWk1S2M1bElNVzJlOEt0Zz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Java.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Check Prime Or Not</h5>
                                                            <p>Participants <span>744</span></p> 														<p>Success Rate <span>88%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/ZHdFTVJ4YW04b2p0MkV3UGFDWCtEZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Data-Structures.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Circular Linked List</h5>
                                                            <p>Participants <span>24</span></p> 														<p>Success Rate <span>100%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/VW5oOVlqTlh4NS9CS0NlOHk2TGZQUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Mathematics.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Birthday Party Paradox</h5>
                                                            <p>Participants <span>757</span></p> 														<p>Success Rate <span>33%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/VkdYWWJCbnlqSkgwZk5jMjJlRFp1dz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Algorithms.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Insertion Sort MCQs</h5>
                                                            <p>Participants <span>20</span></p> 														<p>Success Rate <span>33%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/V3pvT0R0S1pWb08zeTVCRmlHZTBpdz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Ruby.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Play With Fibonacci Sequence</h5>
                                                            <p>Participants <span>91</span></p> 														<p>Success Rate <span>79%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/cXlRUm5TTmJsTTY3ZktnMWoxYlhqUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Algorithms.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Strings Expert Level</h5>
                                                            <p>Participants <span>12</span></p> 														<p>Success Rate <span>100%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/Y28yWWI0cHNHVFhOR2Y0QmF5R0g3dz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Security.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Transposition Cipher</h5>
                                                            <p>Participants <span>199</span></p> 														<p>Success Rate <span>25%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/Q1poeG0xb3NTRjY4cVFwQVY1dWxzZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Python.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Shape And Reshape</h5>
                                                            <p>Participants <span>114</span></p> 														<p>Success Rate <span>43%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/OFBPT1RXSVZCVS93T1V4V2xMTTcrdz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Ruby.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Enumerables</h5>
                                                            <p>Participants <span>15</span></p> 														<p>Success Rate <span>100%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/VVdleTZQclJPSGNuNnNlSjV3d1oxUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Funcitonal-Programming.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Basics Of Input Output Basic Level</h5>
                                                            <p>Participants <span>46</span></p> 														<p>Success Rate <span>40%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/Z1VIRkxaQ2dlMysyejd3ZmtOUFNldz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Java.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Identify Code Smells</h5>
                                                            <p>Participants <span>5,942</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/SkZ6S1ZZT0JrZk8wbmtCbW5PTHBsdz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Java.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Strings Repetition</h5>
                                                            <p>Participants <span>3,073</span></p> 														<p>Success Rate <span>72%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/a0ptaEY5c0tGRWI1YnJydSsveUVsZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Databases.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>OLAP Intermediate Level</h5>
                                                            <p>Participants <span>40</span></p> 														<p>Success Rate <span>79%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/RnI2SzU4cmRKVWNKQUhvV0dSMXRzZz09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Ruby.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Arrays And Hashes</h5>
                                                            <p>Participants <span>50</span></p> 														<p>Success Rate <span>96%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="story">
                                            <a href="https://www.techgig.com/practice/question/ODFNbHlkVWlzd0tUclBKcVcwVzBCUT09" class="clearfix">
                                                <!-- Slider Box -->
                                                <div class="slider-box">
                                                    <div class="inner-content clearfix">
                                                        <figure class="image">
                                                            <img src="https://www.techgig.com/files/tg_images/Linux-Shell.svg" alt="icon">
                                                        </figure>
                                                        <div class="details">
                                                            <h5>Text Processing</h5>
                                                            <p>Participants <span>1,053</span></p> 														<p>Success Rate <span>57%</span></p>
                                                        </div>
                                                    </div>
                                                    <span class="action-link">View Full Problem</span>
                                                </div>
                                                <!-- /Slider Box -->
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="prev-arrow">
                                <div class="arrow"></div>
                            </div>
                            <div class="next-arrow">
                                <div class="arrow"></div>
                            </div>
                        </div>
                        <!-- /Fade Slider -->
                        <!-- Topic-List -->
                        <div class="topic-list">
                            <p class="text-center">20+ Topics to choose from</p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://www.techgig.com/practice/functional-programming">
                                                <figure><img src="https://www.techgig.com/files/tg_images/Funcitonal-Programming.svg" alt="icon"></figure>Functional Programming
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://www.techgig.com/practice/mathematics">
                                                <figure><img src="https://www.techgig.com/files/tg_images/Mathematics.svg" alt="icon"></figure>Mathematics
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://www.techgig.com/practice/databases">
                                                <figure><img src="https://www.techgig.com/files/tg_images/Databases.svg" alt="icon"></figure>Databases
                                            </a>
                                        </td>
                                        <td><a class="see-more" href="https://www.techgig.com/practice">See<br>More</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /Topic-List -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
$(document).ready(function() {
	Tg_CommonFunction.movingSlider();
});
    </script>
    <script>
$( document ).ready(function() {
	if ($(window).width() < 767) {
		Tg_CommonFunction.set_slider_list ('users-word', 150, 1, 1, 1000, false);
	}else{
		Tg_CommonFunction.set_slider_list ('users-word', 500, 2, 2, 1000, false);
	}
});
    </script>
    <section class="py-lg-5 pages-sec" style="background-color:#fff">
        <div class="container py-md-5">
            <div class="py-5 text-center">
                <h3 class="text-white text-capitalize page-head">check out all our pages</h3>
                <p class="text-capitalize text-secondary mt-2">
                    a nicely crafted education theme, suitable for
                    educational institutions
                </p>
            </div>
            <div class="pages-row mt-lg-5">
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="home.html" target="_blank">
                                <img src="~/Snipe/images/index.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="home.html" target="_blank">home</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="about.html" target="_blank"><img src="~/Snipe/images/about.jpg" alt="" class="img-fluid" /></a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="about.html" target="_blank">about</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="services.html" target="_blank"><img src="~/Snipe/images/services.jpg" alt="" class="img-fluid" /></a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="services.html" target="_blank">services</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="portfolio.html" target="_blank"><img src="~/Snipe/images/portfolio.jpg" alt="" class="img-fluid" /></a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="portfolio.html" target="_blank">portfolio</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="pricingplans.html" target="_blank">
                                <img src="~/Snipe/images/pricingplans.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="pricingplans.html" target="_blank">pricing plans</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="courses.html">
                                <img src="~/Snipe/images/courses.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="courses.html" target="_blank">courses</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="single.html" target="_blank">
                                <img src="~/Snipe/images/single.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="single.html" target="_blank">single course</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="team.html" target="_blank">
                                <img src="~/Snipe/images/team.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="about.html" target="_blank">team</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="testimonials.html" target="_blank">
                                <img src="~/Snipe/images/testimonials.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="testimonials.html" target="_blank">testimonials</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="typography.html" target="_blank">
                                <img src="~/Snipe/images/typography.jpg" alt="" class="img-fluid" />
                            </a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="typography.html" target="_blank">typography</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="contact.html" target="_blank"><img src="~/Snipe/images/contact.jpg" alt="" class="img-fluid" /></a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="contact.html" target="_blank">contact</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="page-grid-wthree">
                        <div class="demo-page">
                            <a href="login.html" target="_blank"><img src="~/Snipe/images/login.jpg" alt="" class="img-fluid" /></a>
                        </div>
                        <div class="demo-title text-center">
                            <h4><a href="login.html" target="_blank">login</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //pages grid-->
    <!-- footer top -->
    <div class="footer-top py-5">
        <div class="container">
            <div class="row footer-cform pt-lg-5">
                <div class="col-lg-6">
                    <h5 class="footer-top-title">site navigation</h5>
                    <div class="footer-top-agileits">
                        <ul class="list-agileits d-flex">
                            <li>
                                <a href="index.html" class="nav-link py-0 pl-0">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html" class="nav-link py-0">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="services.html" class="nav-link py-0">
                                    Services
                                </a>
                            </li>
                            <li>
                                <a href="portfolio.html" class="nav-link py-0">
                                    portfolio
                                </a>
                            </li>
                        </ul>
                        <ul class="list-agileits d-flex">
                            <li>
                                <a href="courses.html" class="nav-link py-0 pl-0">
                                    courses
                                </a>
                            </li>
                            <li>
                                <a href="index.html" class="nav-link py-0">
                                    privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="contact.html" class="nav-link py-0">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-cont-btm">
                        <h5 class="footer-top-title">contact information</h5>
                        <address class="my-4">
                            <p>+4667 Woodland Terrace Folsom, California 916-983-6577.</p>
                        </address>
                        <ul class="d-flex header-agile pt-0">
                            <li>
                                <span class="fas fa-envelope-open"></span>
                                <a href="mailto:example@email.com" class="text-secondary">info@example.com</a>
                            </li>
                            <li>
                                <span class="fas fa-phone-volume"></span>
                                <p class="d-inline text-secondary">+456 123 7890</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 wthree-form-left my-lg-0 mt-4">
                    <h5 class="footer-top-title">send us a message</h5>
                    <div class="footer-top-form">
                        <form action="#" method="get" class="footer-top-wthree">
                            <div class="form-group d-flex">
                                <label>
                                    Name
                                </label>
                                <input class="form-control" type="text" placeholder="Johnson" name="email" required="">
                            </div>
                            <div class="form-group d-flex">
                                <label>
                                    Email
                                </label>
                                <input class="form-control" type="email" placeholder="example@email.com" name="email"
                                       required="">
                            </div>
                            <div class="form-group d-flex">
                                <label>
                                    Phone
                                </label>
                                <input class="form-control" type="text" placeholder="XXXX XXXX XX" name="email"
                                       required="">
                            </div>
                            <div class="form-group d-flex">
                                <label>
                                    Message
                                </label>
                                <textarea class="form-control" rows="5" id="contactcomment" placeholder="Your message"
                                          required></textarea>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-agile btn-block w-25">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer top -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="social-icons d-flex  my-auto justify-content-lg-start justify-content-center">
                        <h2 class="mr-4">stay connected :</h2>
                        <ul class="social-iconsv2 agileinfo">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 my-lg-auto mt-3">
                    <div class="cpy-right text-lg-right text-center">
                        <p class="text-secondary">
                            © 2018 Exam Arrow. All rights reserved | Developed by
                            <a href="http://www.elephanttreetech.com/"> Elephanttree Tech. Pvt. Ltd.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js-->
    <script src="~/Snipe/js/jquery-2.2.3.min.js"></script>
    <!-- loading-gif Js -->
    <script src="~/Snipe/js/modernizr.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->
    <!-- Multiple select filter using jQuery -->
    <script src="~/Snipe/js/custom-select.js"></script>
    <!-- //Multiple select filter using jQuery -->
    <!-- start-smooth-scrolling -->
    <script src="~/Snipe/js/move-top.js">
    </script>
    <script src="~/Snipe/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
             var defaults = {
            	 containerID: 'toTop', // fading element id
            	 containerHoverID: 'toTopHover', // fading element hover id
            	 scrollSpeed: 1200,
            	 easingType: 'linear'
             };
             */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/Snipe/js/SmoothScroll.min.js"></script>

    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Snipe/js/bootstrap.js">
    </script>
    <!-- //Bootstrap Core JavaScript -->
</body>

</html>