<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Page Not Found</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- /pages_agile_info_w3l -->

    <div class="pages_agile_info_w3l page_error ">
        <!-- /login -->
        @*<div class=" over_lay_agile_pages_w3ls error">*@
        <div class="registration error " style="font-size:2px">
            <br /><br />
            <table>
                <tr>
                    <h2>
                        <br /><br /><br /><br /><br /><br />
                        <i class="fa fa-graduation-cap" aria-hidden="true" style="color:black"></i><br />
                        <span style="color:black">EOTA</span>

                    </h2>
                </tr>

                <tr>

                    <h2 style="color:whitesmoke">

                        <br /><br />
                        sorry! you are not authorized in the current url. please check your credentials.
                    </h2>
                    <h2>
                        <br /> <br />
                        <p>
                            alternatively you can visit the
                            &nbsp; <a href="~/Home/Index" style="color:brown">main page</a>&nbsp; or read  &nbsp;<a href="https://en.wikipedia.org/wiki/HTTP_404" target="_blank" style="color:brown">more information</a>&nbsp; about this type of error.
                        </p>
                    </h2>
                </tr>

            </table>
        </div>

        <!--copy rights start here-->

    </div>
    <div class="copyrights" id="footer" style="  position:fixed; bottom:0;width:100%;">

        <p>© 2017 EOTA MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/">ELEPHANTTREE TECH PVT.LTD.</a></p>
    </div>

    @*</div>*@
    <!-- /login -->
    <!-- //pages_agile_info_w3l -->
    <!-- js -->

    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>

    <!-- //js -->

    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>
    <script src="~/FrontUsersPro/js/snow.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript" src="~/FrontUsersPro/js/"></script>


</body>
</html>