
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br /><br />
<h2 style="color:wheat; text-align:center">
    Hello, @HttpContext.Current.User.Identity.Name ... Welcome To EOTA Training World</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" }))
    {
        <a href="javascript:document.getElementById('logoutform').submit()">Logout</a>
    }
}


<body style="background-color:burlywood; height:500px">
    <div allign="left">
        <table border="4" align="left" style="width:100%; height:130%">

            <tr>
                <td align="center" style="border:solid; background-color:burlywood"  class="jumbotron; carousel slide " data-interval="3000" data-ride="carousel" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Picture/1.jpg" class="img-responsive" style="height:300px;width:800px" />

                        </div>

                        <div class="item">
                            <img src="~/Picture/interface.gif" class="img-responsive" style="height:300px;width:800px" />
                            
                        </div>
                        <div class="item">
                            <img src="~/Picture/scientific-facts-banner.jpg" class="img-responsive" style="height:300px;width:800px" />
                            
                        </div>
                        </div>
                        <div style="width:100%; height:90%">
                            <h2>Please select Your option in where you want to go...</h2>
                            <br />
                            <p><a style="font-style:oblique;font-size:large; font-weight:900;border:groove;border-color:brown"  href="~/Training_main/Aca_world"> &nbsp;<b>Academic World</b> &nbsp; </a></p>
                            <br />
                            <p><a style="font-style:oblique;font-size:large;font-weight:900;border:groove;border-color:brown" href="~/Training_main/Tech_world"> &nbsp;<b>Technical World </b> &nbsp; </a></p>
                            <br />
                            <p><a style="font-style:oblique;font-size:large;font-weight:900;border:groove;border-color:brown"  href="~/Training_main/Mgmt_world"> &nbsp;<b>Management World </b>&nbsp;</a></p>

                        </div>
                   </td>
                </tr>
            </table>
        </div>
   

</body>